[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty

[submodule "oh-my-zsh"]
	path = dots/oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh
	ignore = dirty

[submodule "dwm"]
    path = dots/dwm
    url = https://github.com/nymann/dwm
    ignore = dirty

[submodule "leaderF"]
    path = dots/nvim/plugged/LeaderF
    url = https://github.com/Yggdroot/LeaderF

[submodule "markdown-preview"]
	path = dots/nvim/plugged/markdown-preview.nvim
	url = https://github.com/iamcco/markdown-preview.nvim

[submodule "ale"]
    path = dots/nvim/plugged/ale
    url = https://github.com/dense-analysis/ale

[submodule "coc.nvim"]
    path = dots/nvim/plugged/coc.nvim
    url = https://github.com/neoclide/coc.nvim

[submodule "goyou.nvim"]
    path = dots/nvim/plugged/goyo.vim
    url = https://github.com/junegunn/goyo.vim

[submodule "nerdcommenter"]
    path = dots/nvim/plugged/nerdcommenter
    url = https://github.com/preservim/nerdcommenter

[submodule "nerdtree-git-plugin"]
    path = dots/nvim/plugged/nerdtree-git-plugin
    url = https://github.com/Xuyuanp/nerdtree-git-plugin

[submodule "nerdtree"]
    path = dots/nvim/plugged/nerdtree
    url = https://github.com/scrooloose/nerdtree

[submodule "vim-snippets"]
    path = dots/nvim/plugged/vim-snippets
    url = https://github.com/nymann/vim-snippets

[submodule "nvim-colorizer.lua"]
    path = dots/nvim/plugged/nvim-colorizer.lua
    url = https://github.com/norcalli/nvim-colorizer.lua

[submodule "vim-nerdtree-syntax-highlight"]
    path = dots/nvim/plugged/vim-nerdtree-syntax-highlight
    url = https://github.com/tiagofumo/vim-nerdtree-syntax-highlight

[submodule "onedark.vim"]
    path = dots/nvim/plugged/onedark.vim
    url = https://github.com/junegunn/onedark.vim

[submodule "rainbow_parentheses.vim"]
    path = dots/nvim/plugged/rainbow_parentheses.vim
    url = https://github.com/kien/rainbow_parentheses.vim

[submodule "vim-coloresque"]
    path = dots/nvim/plugged/vim-coloresque
    url = https://github.com/gko/vim-coloresque

[submodule "semshi"]
    path = dots/nvim/plugged/semshi
    url = https://github.com/numirias/semshi

[submodule "seoul256.vim"]
    path = dots/nvim/plugged/seoul256.vim
    url = https://github.com/junegunn/seoul256.vim

[submodule "syntastic"]
    path = dots/nvim/plugged/syntastic
    url = https://github.com/vim-syntastic/syntastic

[submodule "ultisnips"]
    path = dots/nvim/plugged/ultisnips
    url = https://github.com/SirVer/ultisnips

[submodule "vim-airline"]
    path = dots/nvim/plugged/vim-airline
    url = https://github.com/bling/vim-airline


[submodule "vim-devicons"]
    path = dots/nvim/plugged/vim-devicons
    url = https://github.com/ryanoasis/vim-devicons

[submodule "vim-gitgutter"]
    path = dots/nvim/plugged/vim-gitgutter
    url = https://github.com/airblade/vim-gitgutter

[submodule "vim-python-pep8-indent"]
    path = dots/nvim/plugged/vim-python-pep8-indent
    url = https://github.com/Vimjas/vim-python-pep8-indent

[submodule "vista.vim"]
    path = dots/nvim/plugged/vista.vim
    url = https://github.com/liuchengxu/vista.vim

