[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty

[submodule "oh-my-zsh"]
	path = dots/oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh
	ignore = dirty

[submodule "dwm"]
    path = dots/dwm
    url = https://github.com/nymann/dwm
    ignore = dirty

[submodule "leaderF"]
    path = dots/nvim/plugged/LeaderF
    url = https://github.com/Yggdroot/LeaderF
    ignore = dirty

[submodule "markdown-preview"]
	path = dots/nvim/plugged/markdown-preview.nvim
	url = https://github.com/iamcco/markdown-preview.nvim
	ignore = dirty
