__pycache__
dots/nvim/.netrwhist
dots/nvim/plugin/packer_compiled.lua
dots/nvim/plugin/packer_compiled.vim
dots/qtile/.cache/
dots/qutebrowser/autoconfig.yml
dots/qutebrowser/bookmarks/
dots/qutebrowser/qsettings/QtProject.conf
dots/qutebrowser/quickmarks
tags
