[Unit]
Description=Dunst notification daemon
Documentation=man:dunst(1)
PartOf=graphical-session.target

[Service]
Type=dbus
BusName=org.freedesktop.Notifications
ExecStart=/usr/bin/dunst
## Instead of degining display, we should just import it in to the service like
# systemctl --user import-environment DISPLAY
#Environment=DISPLAY=:0

[Install]
WantedBy=default.target

